<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <!-- AUTHORIZATION TYPE (WINDOWS or IDENTITYSERVER) -->
    <add key="AuthType" value="IDENTITYSERVER"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- KEY TO DETERMINE WHETHER OR NOT THE APPLICATION IS RUNNING LOCALLYIN IN DEBUG MODE -->
    <add key="IsRunningLocal" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- WHETHER OR NOT TO DISPLAY ERROR DETAILS TO THE USER -->
    <add key="ShowErrorDetails" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- DISTRIBUTOR WEBSITE API -->
    <add key="WEBAPI.DistributorWeb.CONFIGTYPE" value="DOMAIN" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- SALESFORCE URL -->
    <add key="INCITE.URL" value="https://uat-hycite.cs36.force.com/partnercommunity/services/auth/sso/HyCiteAuthProvider" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <!-- DOMAIN OR DEBUG (DEBUG ONLY WORKS WHEN RUNNING LOCALLY) -->
    <add key="WEBAPI.DistributorWeb-DEBUG" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="WEBAPI.DistributorWeb-DEV" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="WEBAPI.DistributorWeb-PROD" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <add key="WEBAPI.DistributorWeb-AZURE" value="https://distweb.devapi.hycite.com:8443/" xdt:Transform="Insert" />

    <add key="ResetPasswordLink" value="https://identity.devapi.hycite.com/hcdist/UserManagement/ChangePassword" xdt:Transform="Insert" />
    
    <!-- ***************************** -->
    <!-- IDENTITY SERVER CONFIGURATION -->
    <!-- ***************************** -->
    <add key="WHICHIDENTITYSERVER" value="DOMAIN"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- REQUEST DOCUCITE IDENTITY SCOPES -->
    <add key="RequestDocuCiteIdentityScopes" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- INTERNAL -->
    <add key="IDENTITYSERVERINT-DEBUG.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-DEBUG.Authority" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-DEBUG.Secret" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-DEV.ClientID" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-DEV.Authority" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-DEV.Secret" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-PROD.ClientID" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-PROD.Authority" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-PROD.Secret" value=""  xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <add key="IDENTITYSERVERINT-AZURE.ClientID" value="HCDISTINTERNAL" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINT-AZURE.Authority" value="https://identity.devapi.hycite.com/hcdist" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IDENTITYSERVERINT-AZURE.Secret" value="EC7B7594-982D-4C0F-8FE8-4810C9250DE1" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- INTERNAL ENTITY -->
    <add key="IDENTITYSERVERINTENT-DEBUG.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEBUG.Authority" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEBUG.Secret" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEBUG.ROP" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEV.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEV.Authority" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEV.Secret" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-DEV.ROP" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-PROD.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-PROD.Authority" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-PROD.Secret" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-PROD.ROP" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <add key="IDENTITYSERVERINTENT-AZURE.ClientID" value="HCDISTINTERNALENT" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-AZURE.Authority" value="https://identity.devapi.hycite.com/hcdist" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-AZURE.Secret" value="AA114144-D20C-4B65-8F1E-C8C92A7D2209" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVERINTENT-AZURE.ROP" value="C94C25F50C934CB98D5260E4F14D0212" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <!-- IDENTITY SERVER -->
    <add key="IDENTITYSERVER-DEBUG.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEBUG.Authority" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEBUG.RedirectURI" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEBUG.PostLogoutRedirectURI" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEBUG.Secret" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEV.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEV.Authority" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEV.RedirectURI" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEV.PostLogoutRedirectURI" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-DEV.Secret" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-PROD.ClientID" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-PROD.Authority" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-PROD.RedirectURI" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-PROD.PostLogoutRedirectURI" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <add key="IDENTITYSERVER-AZURE.ClientID" value="HCDISTHYBRID" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-AZURE.Authority" value="https://identity.devapi.hycite.com/hcdist" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-AZURE.RedirectURI" value="https://distweb.devapp.hycite.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-AZURE.PostLogoutRedirectURI" value="https://distweb.devapp.hycite.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IDENTITYSERVER-AZURE.Secret" value="102A83BA-D914-41AD-AFB7-D2DBD4631837" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- LOGGING CONFIGURATION (Debug, Error, Fatal, Information, Warning, Verbose) -->
    <add key="LOGGER.DEBUG.Level" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.DEBUG.WriteToTrace" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.DEBUG.WriteToTraceLevel" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.DEV.Level" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.DEV.WriteToTrace" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.DEV.WriteToTraceLevel" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.PROD.Level" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.PROD.WriteToTrace" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LOGGER.PROD.WriteToTraceLevel" value="" xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    <add key="LOGGER.AZURE.Level" value="Debug" xdt:Transform="Insert" />
    <add key="LOGGER.AZURE.WriteToTrace" value="false" xdt:Transform="Insert" />
    <add key="LOGGER.AZURE.WriteToTraceLevel" value="Debug" xdt:Transform="Insert" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="On" defaultRedirect="~/Error/Index" xdt:Transform="Replace" >
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
  </system.web>
</configuration>