<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <connectionStrings>
  </connectionStrings>

  <appSettings>

    <!-- AUTHORIZATION TYPE (WINDOWS or IDENTITYSERVER) -->
    <add key="AuthType" value="WINDOWS" />

    <!-- DISTRIBUTOR WEBSITE API -->
    <add key="WEBAPI.DistributorWeb.CONFIGTYPE" value="DOMAIN" />

    <!-- DOMAIN OR DEBUG (DEBUG ONLY WORKS WHEN RUNNING LOCALLY) -->
    <add key="WEBAPI.DistributorWeb-DEBUG" value="https://localhost:44331/" />
    <add key="WEBAPI.DistributorWeb-DEV" value="https://distweb.devapi.hycite.com:8443/" />
    <add key="WEBAPI.DistributorWeb-PROD" value="https://distweb.api.hycite.com/" />

    <!-- CONFIGURATION SETTINGS -->
    <add key="ACHCutoffTime" value="16:00" />

    <!-- KEY TO DETERMINE WHETHER OR NOT THE APPLICATION IS RUNNING LOCALLY IN IN DEBUG MODE -->
    <add key="IsRunningLocal" value="true" />

    <!-- PAYMENT PROCESSING SETTINGS -->
    <add key="PaymentProcessing.ReceiptEmailOverride.DEBUG" value="jbrenson@hycite.com" />
    <add key="PaymentProcessing.ReceiptEmailOverride.DEV" value="jbrenson@hycite.com" />
    <add key="PaymentProcessing.ReceiptEmailOverride.PROD" value="" />

    <!-- APPLICATION INSIGHTS -->
    <add key="AppInsights" value="" />
    <add key="AppInsights.DEV" value="92eeae43-a8b3-4a1c-af2b-52d0172cc0fb" />
    <add key="AppInsights.PROD" value="62299126-888b-439c-9283-93e65b323e44" />

    <!-- WINDOWS AUTHENTICATION SETTINGS -->
    <add key="WindowsAuth.AllowedRoles.DEV" value="Developers,Access-Web-Distributor Website,PROD\Developers,PROD\HC-Sales Administration Department,PROD\WEBADMIN Distributor Access,PROD\vmoya" />
    <add key="WindowsAuth.AllowedRoles.PROD" value="Developers,Access-Web-Distributor Website" />
    <add key="WindowsAuth.CheckMinutes" value="30" />
    
    <!-- NUMBER OF MINUTES BEFORE THE CURRENT USER ACCESS IS CHECKED AGAIN USING WINDOWS AUTHENTICATION -->

    <!-- SUPPORTED CULTURES -->
    <add key="SupportedCultures" value="en-US,en-AU,en-BZ,en-CA,en-GB,en-IE,en-IN,en-JM,en-MY,en-NZ,en-PY,en-SG,en-TT,en-ZA,en-ZW, es-US,es-AR,es-CL,es-CO,es-CR,es-DO,es-EC,es-ES,es-GT,es-HN,es-MX,es-NI,es-PA,es-PE,es-PR,es-PY,es-SV,es-UY,es-VE,pt-BR,pt-PT" />

    <!-- WHETHER OR NOT TO DISPLAY ERROR DETAILS TO THE USER -->
    <add key="ShowErrorDetails" value="true" />

    <!-- GOOGLE CAPTCHA KEYS -->
    <add key="CAPTCHA.Version" value="DEBUG" />
    <add key="CAPTCHA.DEBUG.Public" value="6LeKwzIUAAAAAOudmuVi7Lp03DiHPOILQFu4iac9" />
    <add key="CAPTCHA.LIVE.Public" value="6LeKwjIUAAAAAOwTPNSxLxfA9pa8loBLSsKOobFm" />

    <!-- INCITE URL -->
    <add key="INCITE.URL" value="" />
    <add key="INCITE.URL.DEV" value="https://uat-hycite.cs36.force.com/partnercommunity/services/auth/sso/HyCiteAuthProvider" />
    <add key="INCITE.URL.PROD" value="https://hycite.force.com/partnercommunity/services/auth/sso/HyCiteAuthProvider" />

    <!-- SECURITY ITEM RELOAD KEY -->
    <add key="SECRELOAD.KEY" value="EF512393AD984D79972B1C2BBFB5D2EA" />

    <!-- USER ALERT REFRESH MINUTES -->
    <add key="UserAlertRefreshMinutes" value="5" />

    <!-- PAGE LINKS -->
    <add key="LINK.RPUNIVERSITY" value="https://universidad.royalprestige.com" />
    <add key="LINK.RPUNIVERSITY.DEV" value="https://universidad.devapp.royalprestige.com" />

    <add key="LINK.SAS" value="http://vimeopro.com/royalprestige/sazon-aroma-y-sabor" />

    <!-- ALLOW COLOMBIA BANK ACCOUNTS -->
    <add key="CO.AllowBankAccounts.DEV" value="true" />
    <add key="CO.AllowBankAccounts.PROD" value="true" />

    <!-- SUPPORTED FILE TYPES -->
    <add key="filetype-pdf" value="PDF|application/pdf|file-pdf-o" />
    <add key="filetype-xls" value="Excel|application/ms-excel|file-excel-o" />
    <add key="filetype-xlsx" value="Excel|application/ms-excel|file-excel-o" />
    <add key="filetype-jpg" value="ImageJpeg|image/jpeg|file-image-o" />
    <add key="filetype-jpeg" value="ImageJpeg|image/jpeg|file-image-o" />
    <add key="filetype-tif" value="ImageTIF|image/tiff|file-image-o" />
    <add key="filetype-png" value="ImagePNG|image/png|file-image-o" />
    <add key="filetype-gif" value="ImageGIF|image/gif|file-image-o" />
    <add key="filetype-eps" value="ImageEPS|application/postscript|file-image-o" />
    <add key="filetype-psd" value="ImagePSD|application/octet-stream|file-image-o" />
    <add key="filetype-bmp" value="ImageBMP|image/bmp|file-image-o" />
    <add key="filetype-ppt" value="Powerpoint|application/mspowerpoint|file-powerpoint-o" />
    <add key="filetype-pptx" value="Powerpoint|application/mspowerpoint|file-powerpoint-o" />
    <add key="filetype-mp3" value="AudioMP3|audio/mpeg|file-audio-o" />
    <add key="filetype-wma" value="AudioWMA|audio/x-ms-wma|file-audio-o" />
    <add key="filetype-avi" value="VideoAVI|video/avi|file-video-o" />
    <add key="filetype-mov" value="VideoMOV|video/quicktime|file-video-o" />
    <add key="filetype-mpg" value="VideoMPG|video/mpeg|file-video-o" />
    <add key="filetype-wmv" value="VideoWMV|video/x-ms-wmv|file-video-o" />
    <add key="filetype-zip" value="Zip|application/zip|file-zip-o" />
    <add key="filetype-other" value="Unknown|text/plain|file-text-o" />

    <!-- RESET PASSWORD LINKS -->
    <add key="ResetPasswordLink.DEV" value="https://identity.devapi.hycite.com/hcdist/UserManagement/ChangePassword" />
    <add key="ResetPasswordLink.PROD" value="https://identity.api.hycite.com/hcdist/UserManagement/ChangePassword" />

    <!-- ***************************** -->
    <!-- IDENTITY SERVER CONFIGURATION -->
    <!-- ***************************** -->
    <add key="WHICHIDENTITYSERVER" value="DOMAIN" />

    <!-- WHETHER OR NOT TO REQUEST ADDITIONAL SCOPES TO ALLOW USER TO HIT AZURE DOCUCITE APIS -->
    <add key="RequestDocuCiteIdentityScopes" value="" />
    <add key="RequestDocuCiteIdentityScopes-DEV" value="true" />
    <add key="RequestDocuCiteIdentityScopes-PROD" value="true" />

    <!-- DOMAINSPECIFIC,DEFAULT -->
    <add key="IDENTITYSERVERINT-DEBUG.ClientID" value="HCDISTINTERNAL" />
    <add key="IDENTITYSERVERINT-DEBUG.Authority" value="https://localhost:44309/hcdist" />
    <add key="IDENTITYSERVERINT-DEBUG.Secret" value="EC7B7594-982D-4C0F-8FE8-4810C9250DE1" />

    <add key="IDENTITYSERVERINT-DEV.ClientID" value="HCDISTINTERNAL" />
    <add key="IDENTITYSERVERINT-DEV.Authority" value="https://identity.devapi.hycite.com/hcdist" />
    <add key="IDENTITYSERVERINT-DEV.Secret" value="EC7B7594-982D-4C0F-8FE8-4810C9250DE1" />

    <add key="IDENTITYSERVERINT-PROD.ClientID" value="HCDISTINTERNAL" />
    <add key="IDENTITYSERVERINT-PROD.Authority" value="https://identity.api.hycite.com/hcdist" />
    <add key="IDENTITYSERVERINT-PROD.Secret" value="EC7B7594-982D-4C0F-8FE8-4810C9250DE1" />

    <add key="IDENTITYSERVERINT-AZURE.ClientID" value="HCDISTINTERNAL" />
    <add key="IDENTITYSERVERINT-AZURE.Authority" value="https://identity.api.hycite.com/hcdist" />
    <add key="IDENTITYSERVERINT-AZURE.Secret" value="EC7B7594-982D-4C0F-8FE8-4810C9250DE1" />

    <!-- DOMAINSPECIFIC,DEFAULT -->
    <add key="IDENTITYSERVERINTENT-DEBUG.ClientID" value="HCDISTINTERNALENT" />
    <add key="IDENTITYSERVERINTENT-DEBUG.Authority" value="https://localhost:44309/hcdist" />
    <add key="IDENTITYSERVERINTENT-DEBUG.Secret" value="AA114144-D20C-4B65-8F1E-C8C92A7D2209" />
    <add key="IDENTITYSERVERINTENT-DEBUG.ROP" value="C94C25F50C934CB98D5260E4F14D0212" />

    <add key="IDENTITYSERVERINTENT-DEV.ClientID" value="HCDISTINTERNALENT" />
    <add key="IDENTITYSERVERINTENT-DEV.Authority" value="https://identity.devapi.hycite.com/hcdist" />
    <add key="IDENTITYSERVERINTENT-DEV.Secret" value="AA114144-D20C-4B65-8F1E-C8C92A7D2209" />
    <add key="IDENTITYSERVERINTENT-DEV.ROP" value="C94C25F50C934CB98D5260E4F14D0212" />

    <add key="IDENTITYSERVERINTENT-PROD.ClientID" value="HCDISTINTERNALENT" />
    <add key="IDENTITYSERVERINTENT-PROD.Authority" value="https://identity.api.hycite.com/hcdist" />
    <add key="IDENTITYSERVERINTENT-PROD.Secret" value="AA114144-D20C-4B65-8F1E-C8C92A7D2209" />
    <add key="IDENTITYSERVERINTENT-PROD.ROP" value="C94C25F50C934CB98D5260E4F14D0212" />

    <add key="IDENTITYSERVERINTENT-AZURE.ClientID" value="HCDISTINTERNALENT" />
    <add key="IDENTITYSERVERINTENT-AZURE.Authority" value="https://identity.api.hycite.com/hcdist" />
    <add key="IDENTITYSERVERINTENT-AZURE.Secret" value="AA114144-D20C-4B65-8F1E-C8C92A7D2209" />
    <add key="IDENTITYSERVERINTENT-AZURE.ROP" value="C94C25F50C934CB98D5260E4F14D0212" />

    <!-- DOMAINSPECIFIC,DEFAULT -->
    <add key="IDENTITYSERVER-DEBUG.ClientID" value="HCDISTHYBRID" />
    <add key="IDENTITYSERVER-DEBUG.Authority" value="https://localhost:44309/hcdist" />
    <add key="IDENTITYSERVER-DEBUG.RedirectURI" value="https://localhost:44361/" />
    <add key="IDENTITYSERVER-DEBUG.PostLogoutRedirectURI" value="https://localhost:44361/" />
    <add key="IDENTITYSERVER-DEBUG.Secret" value="102A83BA-D914-41AD-AFB7-D2DBD4631837" />

    <add key="IDENTITYSERVER-DEV.ClientID" value="HCDISTHYBRID" />
    <add key="IDENTITYSERVER-DEV.Authority" value="https://identity.devapi.hycite.com/hcdist" />
    <add key="IDENTITYSERVER-DEV.RedirectURI" value="https://localhost:44361/" />
    <add key="IDENTITYSERVER-DEV.PostLogoutRedirectURI" value="https://localhost:44361/" />
    <add key="IDENTITYSERVER-DEV.Secret" value="102A83BA-D914-41AD-AFB7-D2DBD4631837" />

    <add key="IDENTITYSERVER-PROD.ClientID" value="HCDISTHYBRID" />
    <add key="IDENTITYSERVER-PROD.Authority" value="https://identity.api.hycite.com/hcdist" />
    <add key="IDENTITYSERVER-PROD.RedirectURI" value="https://localhost:44361/" />
    <add key="IDENTITYSERVER-PROD.PostLogoutRedirectURI" value="https://localhost:44361/" />
    <add key="IDENTITYSERVER-PROD.Secret" value="102A83BA-D914-41AD-AFB7-D2DBD4631837" />

    <add key="IDENTITYSERVER-AZURE.ClientID" value="HCDISTHYBRID" />
    <add key="IDENTITYSERVER-AZURE.Authority" value="" />
    <add key="IDENTITYSERVER-AZURE.RedirectURI" value="" />
    <add key="IDENTITYSERVER-AZURE.PostLogoutRedirectURI" value="" />
    <add key="IDENTITYSERVER-AZURE.Secret" value="" />

    <!-- LOGGING CONFIGURATION (Debug, Error, Fatal, Information, Warning, Verbose) -->
    <add key="LOGGER.DEBUG.Level" value="Verbose" />
    <add key="LOGGER.DEBUG.WriteToTrace" value="true" />
    <add key="LOGGER.DEBUG.WriteToTraceLevel" value="Debug" />

    <add key="LOGGER.DEV.Level" value="Verbose" />
    <add key="LOGGER.DEV.WriteToTrace" value="true" />
    <add key="LOGGER.DEV.WriteToTraceLevel" value="Debug" />

    <add key="LOGGER.PROD.Level" value="Debug" />
    <add key="LOGGER.PROD.WriteToTrace" value="false" />
    <add key="LOGGER.PROD.WriteToTraceLevel" value="Debug" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />

    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="PCIEnabled" value="true" />
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>

    <customErrors mode="Off" defaultRedirect="~/Error/Index">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>

    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.42" newVersion="1.0.3.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>