<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <!-- AUTHORIZATION TYPE (WILL BE OVERWRITTEN IN AZURE) -->
    <add key="AuthType" value="WINDOWS" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- KEY TO DETERMINE WHETHER OR NOT THE APPLICATION IS RUNNING LOCALLYIN IN DEBUG MODE -->
    <add key="IsRunningLocal" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- WHETHER OR NOT TO DISPLAY ERROR DETAILS TO THE USER -->
    <add key="ShowErrorDetails" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- DISTRIBUTOR WEBSITE API -->
    <add key="WEBAPI.DistributorWeb.CONFIGTYPE" value="DOMAIN" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- IDENTITY SERVER CONFIGURATION -->
    <add key="WHICHIDENTITYSERVER" value="DOMAIN" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <!-- CUSTOM ERROR SETTINGS -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Index" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>

  </system.web>
</configuration>
